extends layout

block content
  h1= title

  div
    p TODO Описать у каждой ветки,
    ul
      li Назначение какждого бранча - что в него будут комитить.
      li Кем и при каких условиях создается.
      li Кем и когда удаляется
      li В какой бранч мержится, и из каких бранчей актуализируеся.

  canvas(id="gitGraph")

  div.gitgraph-detail(id="default-branch")
    p.
      Основной бранч в mercurial.
      содержимое должно быть стабильно, и готово для выкатки в продакшен в любой момент.
      ХЗ, когда чего туда мержат, но вроде какой-то "глобальный CI" берет версию оттуда.

  div.gitgraph-detail(id="major-release")
    p.
      Ветка мажорного релиза. Создается на старте разработке функционала, который запланирован в эту версию.
      Все минорные ветви постоянно вливаются сюда.
      Живет до создания следующего мажорного, и не удаляется

  div.gitgraph-detail(id="minor-release")
    p.
      Ветка минорного (хз, как тут называется вторая цифра в версии) релиза.
    p.
      Все release_* ветки создаются с апрувом от ...(как там эти люди называются?) на reviewboard.nordigy.ru
      Для получения апрува нужно ... (чего там? только статусы jira важны?)
    p.
      Ветка существует до момента ...(хз, какого. ) до выкатки в прод на все хосты следующей
      версии?

  div.gitgraph-detail(id="fix-release")
    p.
      Ветка фикс-релиза (хз, как тут называется последняя цифра в версии).

    p.
      Ветка существует до момента ...(хз, какого. ) до выкатки в прод на все хосты следующей (минорной?/мажорной?)
      версии?

  div.gitgraph-detail(id="stabilization-branch")
    p.
      Ветка стабилизации командного бранча. В этой ветви выполняются фиксы blackbox тестов
      (которые обычно не запускаются на основной командной ветке)

    p.
      Ветка существует до момента ...(хз, какого. ) до выкатки в прод на все хосты следующей (минорной?/мажорной?)
      версии?

  script(src='/javascripts/gitgraph.js')
  script(src="javascripts/PAS-branching.js")
