doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/gitgraph.css')
    script(src='/javascripts/gitgraph.js')
  body
    block content

